<!--/* Thymeleaf templating engine, Each token will be replaced by their respective titles in the resulting page. */-->
<!DOCTYPE html>
<html  lang="en"
       xmlns:th="http://www.thymeleaf.org"
       xmlns:layout="http://www.utraq.net.nz/thymeleaf/layout"
       xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
       xmlns:sd="http://www.w3.org/1999/xhtml"
       layout:decorate="template1">
<head>
    <title>patients</title>
</head>
<body>
<div layout:fragment="breadcrumb">
    <h1>List Patients</h1>
    <ol class="breadcrumb">
        <li><a th:href="@{/user/index}"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Patients</li>
    </ol>
</div>
<div layout:fragment="content1">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <a  sec:authorize="hasAuthority('ADMIN')" class="box-title btn btn-primary" th:href="@{/admin/formPatients}">Ajouter patient</a>


                    <div class="box-tools">
                        <form th:action="@{/user/index}" method="get">
                            <div class="input-group input-group-sm" style="width: 250px;">
                                <input type="text" name="keyword" class="form-control pull-right"
                                       placeholder="Chercher" th:if="${keyword} == null" />
                                <input type="text" name="keyword" class="form-control pull-right"
                                       placeholder="Chercher" th:if="${keyword} != null"
                                       th:value="${keyword}"/>
                                <div class="input-group-btn">
                                    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>


                <!-- /.box-header -->
                <div class="box-body">



                    <div class="table-responsive">
                        <table class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th><a class="fa fa-fw fa-sort"><a class="sorted" sd:pagination-sort="nama">Nom</a></a></th>
                                <th><a class="fa fa-fw fa-sort"><a class="sorted" sd:pagination-sort="keterangan">Date</a></a></th>
                                <th><a class="fa fa-fw fa-sort"><a class="sorted" sd:pagination-sort="keterangan">Malade</a></a></th>
                                <th><a class="fa fa-fw fa-sort"><a class="sorted" sd:pagination-sort="keterangan">Score</a></a></th>
                                <th><a class="fa fa-fw fa-sort"><a class="sorted" sd:pagination-sort="keterangan">Cin</a></a></th>

                                <th>&nbsp;</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="p:${listPatients}">
                                <td th:text="${p.id}"></td>
                                <td th:text="${p.nom}"></td>
                                <td th:text="${p.dateNaissance}"></td>
                                <td th:text="${p.malade}"></td>
                                <td th:text="${p.score}"></td>
                                <td th:text="${p.cin}"></td>
                                <td sec:authorize="hasAuthority('ADMIN')">
                                    <a href="#" class="btn btn-default"  style="background-color: limegreen" th:href="@{/admin/editPatient(id=${p.id})}"
                                       title="Edit Data"><span class="glyphicon glyphicon-edit"></span></a>
                                    <a onclick="return confirm('Etes vous sure?')"  style="background-color: red" class="btn btn-default" th:href="@{/admin/delete(id=${p.id})}"
                                       title="Delete Data"><span class="glyphicon glyphicon-trash"></span></a>

                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
                <div >


                    <div class="text-center">
                        <nav >
                            <ul class="pagination">

                                <li th:each="page,status:${pages}">
                                    <a th:class="${status.index==currentPage?'btn btn-primary ms-1': 'btn btn-outline-primary ms-1'}"
                                       th:text="${status.index}"
                                       th:href="@{/user/index(page=${status.index},keyword=${keyword})}"

                                    ></a>

                                </li>
                            </ul>

                        </nav>
                    </div>
                </div>



                </div>
            </div>
        </div>
    </div>
</body>
</html>